// Created by bvn13 on 09.12.2017.

div
  .tr.comment-deleted
    .colgroup
      | Sometimes there was a comment here...


  //if commentService.childrenCount(comments, comment) > 0
  //  .comment-children(style="padding-left: #{5 * commentService.childrenCount(comments, comment)}px")
  //    include list

