
.panel.panel-warning
  .panel-body
    | Sometimes there was a comment here...


  //if commentService.childrenCount(comments, comment) > 0
  //  .comment-children(style="padding-left: #{5 * commentService.childrenCount(comments, comment)}px")
  //    include list

