
include fragments/pagination

for comment in comments
  if comment.getDeletedMark()
    include deleted
  else
    include one

include fragments/pagination


if userService.currentUserCanWrite() && !disableCommenting
  include fragments/commentCreationForm

script
  :javascript
      function deleteComment(postId, commentId) {
          if (confirm("Are you sure to delete comment #" + commentId)) {
              $('#form-' + postId + '-comment-' + commentId + '-delete').submit();
          }
      }


