
.panel.panel-default
  .panel-heading
    span
      b #{comment.getUser().getNickname()}
      |, #{viewHelper.getFormattedDate(comment.getCreatedAt())}
    div
      if userService.isCurrentUserAdmin()
        .td
          | admin

  .panel-body
    !{comment.getRenderedContent()}




